.field {
  position: relative;
  width: 336px;
}

.input {
  width: 100%;
  border: 1px solid var(--color-primary-muted);
  border-radius: 4px;
  background: #fff;
  font-size: 14px;
  padding: 10px 44px 10px 12px;
}

.input::placeholder {
  color: var(--color-primary-muted);
}

.endAdornment {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
