:root {
    font-family: "Hiragino Sans", "Yu Gothic", sans-serif;
    color: #212423;
    --color-primary: rgb(36 71 59);
    --color-primary-muted: rgb(79 122 108);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #fff;
    color: #212423;
}

#root,
.page {
    min-height: 100vh;
    padding-bottom: 36px;
}
